.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header > h1 {
  color: #c8fffaf6;
  margin-bottom: 0.6rem;
}

.App-header > h2 {
  margin-top: 0px;
  color: #61dafb;
}

.App-header > p {
  font-weight: 700;
  color: rgba(13, 207, 237, 0.745);
}

.App-header > h2 {
  position: relative;
  padding: 0.3rem 0.7rem;
}

.App-header > h2::before,
.App-header > h2::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: transparent;
  z-index: 1;
}

.App-header > h2::before {
  top: 0;
  left: 0;
  border-top: 0.3rem solid #0dcfedbe;
  border-left: 0.3rem solid #61dafb;
}

.App-header > h2::after {
  bottom: 0;
  right: 0;
  border-bottom: 0.3rem solid #0dcfedbe;
  border-right: 0.3rem solid #61dafb;
}
